/04_Convolutional_Neural_Networks/02_Deep_Convolutional_Models_Case_Study/01_Residual_Networks/datasets
/04_Convolutional_Neural_Networks/02_Deep_Convolutional_Models_Case_Study/01_Residual_Networks/resnet50.h5
/04_Convolutional_Neural_Networks/02_Deep_Convolutional_Models_Case_Study/02_Transfer_Learning_with_MobileNet/dataset
/04_Convolutional_Neural_Networks/03_Object_Detection/01_Car_detection_with_YOLO/images
/04_Convolutional_Neural_Networks/03_Object_Detection/01_Car_detection_with_YOLO/model_data
/04_Convolutional_Neural_Networks/03_Object_Detection/01_Car_detection_with_YOLO/font
/04_Convolutional_Neural_Networks/03_Object_Detection/01_Car_detection_with_YOLO/yad2k