/04_Convolutional_Neural_Networks/02_Deep_Convolutional_Models_Case_Study/01_Residual_Networks/datasets
/04_Convolutional_Neural_Networks/02_Deep_Convolutional_Models_Case_Study/01_Residual_Networks/resnet50.h5