/04_Convolutional_Neural_Networks/02_Deep_Convolutional_Models_Case_Study/01_Residual_Networks/datasets
/04_Convolutional_Neural_Networks/02_Deep_Convolutional_Models_Case_Study/01_Residual_Networks/resnet50.h5
/04_Convolutional_Neural_Networks/02_Deep_Convolutional_Models_Case_Study/02_Transfer_Learning_with_MobileNet/dataset
/04_Convolutional_Neural_Networks/03_Object_Detection/01_Car_detection_with_YOLO/images
/04_Convolutional_Neural_Networks/03_Object_Detection/01_Car_detection_with_YOLO/model_data
/04_Convolutional_Neural_Networks/03_Object_Detection/01_Car_detection_with_YOLO/font
/04_Convolutional_Neural_Networks/03_Object_Detection/01_Car_detection_with_YOLO/yad2k
/04_Convolutional_Neural_Networks/03_Object_Detection/02_Image_Segmentation_with_U_Net/data
/04_Convolutional_Neural_Networks/04_Face_Recognition_And_Neural_Style_Transfer/01_Face_Recognition/datasets
/04_Convolutional_Neural_Networks/04_Face_Recognition_And_Neural_Style_Transfer/01_Face_Recognition/keras-facenet_tf23
/04_Convolutional_Neural_Networks/04_Face_Recognition_And_Neural_Style_Transfer/01_Face_Recognition/keras-facenet-h5
/04_Convolutional_Neural_Networks/04_Face_Recognition_And_Neural_Style_Transfer/02_Art_Generation_with_Neural_Style_Transfer/pretrained-model
/05_Sequence_Models/01_Recurrent_Neural_Networks/03_Jazz_Improvisation_with_LSTM/data
/05_Sequence_Models/01_Recurrent_Neural_Networks/03_Jazz_Improvisation_with_LSTM/output
/05_Sequence_Models/02_Natural_Language_Processing_Word_Embeddings/01_Operations_on_Word_Vectors_Debiasing/data
/05_Sequence_Models/02_Natural_Language_Processing_Word_Embeddings/02_Emojify/data
/05_Sequence_Models/03_Sequence_Models_Attention_Mechanism/02_Trigger_Word_Detection/audio_examples
/05_Sequence_Models/03_Sequence_Models_Attention_Mechanism/02_Trigger_Word_Detection/models
/05_Sequence_Models/03_Sequence_Models_Attention_Mechanism/02_Trigger_Word_Detection/raw_data
/05_Sequence_Models/03_Sequence_Models_Attention_Mechanism/02_Trigger_Word_Detection/XY_dev
/05_Sequence_Models/03_Sequence_Models_Attention_Mechanism/02_Trigger_Word_Detection/XY_train